doctype html
head
    meta(charset='utf-8')
    title Filter
    style.
        body {
        font-family: Gadugi;
        }
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    hr 
    h1(style='text-align: center') Get-Process
    hr
table#table_format.table.table-bordered.table-striped.table-hover.table-list-search
    thead
        tr
            th #
            th ProcessName
            th Id
            th 
                select#filterText(style='display:inline-block', onchange='filterText()')
                    option(disabled='', selected='') Select
                    option(value='true') True
                    option(value='false') False 
                    option(value='all') All
    tbody#myTable
            each process in results
                tr.content
                    td=process.ProcessName
                    td=process.Id 
                    td=process.Handles 
                    td=process.Handles > 600
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
script.
    function filterText() {
    var rex = new RegExp($('#filterText').val());
    if (rex == "/all/") { clearFilter() } else {
    $('.content').hide();
    $('.content').filter(function () {
    return rex.test($(this).text());
    }).show();
    }
    }
    function clearFilter() {
    $('.filterText').val('');
    $('.content').show();
    }