
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title SPS-Events Bangalore 2018
    style.
        body {
        font-family: Century Gothic
        }
h1(style='text-align: center') Welcome to SharePoint Saturday!
hr
li
    ol
        b RESTful API
    ol
        b SHiPS
    ol
        b Resume Web Application