<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title SharePoint List
        style
            include ./styles/forms.css
    body
        div
            form(action='/action_page.php')
                label(for='fname') Requester Name
                input#fname(type='text', name='firstname', placeholder='Your name..')
                label(for='lname') Last Name
                input#lname(type='text', name='lastname', placeholder='Your last name..')
                label(for='listTemplateType') List Template Type
                select#country(name='listTemplateType')
                    option(value='australia') Australia
                    option(value='canada') Canada
                    option(value='usa') USA
                input(type='submit', value='Submit')