<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title SharePoint List
        style
            include ./styles/forms.css
    body
        div
            form(action='/createList' method="post")
                
                label(for='reqName') Requester Name
                input#fname(type='text', name='rName')

                label(for='listName') List Name
                input#fname(type='text', name='lName')

                label(for='listType') List Template Type
                select#country(name='listTemplateType')
                    option(value='GenericList') GenericList
                    option(value='Announcements') Announcements
                input(type='submit', value='Submit')