<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title System Information
        style
            include ./styles/sticky.css
    body
        ul
            li
                a(href='#')
                    h2 Title #1
                    p Text Content #1
            li
                a(href='#')
                    h2 Title #2
                    p Text Content #2
            li
                a(href='#')
                    h2 Title #3
                    p Text Content #3